.grid{
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 600px;
}

.square{
  display: flex;
  border: 1px solid black;
  margin: 1px;
  width: 150px;
  height: 150px;
}

.mole{
  background-color: red;
}